 :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
 
  .app-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }

  .toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .content {
    display: flex;
    flex-grow: 1;
    width: 100%;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
  }

  /* Responsive Styles (Container) */
  @media screen and (max-width: 700px) {
   .toolbar {
    display:flex;
    align-items: center;
    justify-content: center;
   }
   .content {
    padding: 10px;
   }
  }